<h2 class="page-head-text">
  Items
</h2>

<rl-items-add></rl-items-add>

<ul class="items">
  <li *ngFor="let item of items$ | async" class="items__item">
    <button class="items__item__toggle-button"
            (click)="toggle(item)">
      TOGGLE
    </button>
    <span class="items__item__title">{{item}}</span>
  </li>
</ul>

<h3>Selected:</h3>
<ul class="items_selected">
  <li *ngFor="let item of selectedItems$ | async" class="items_selected__item">
    <button class="items_selected__item__toggle-button"
            (click)="toggle(item)">
      TOGGLE
    </button>
    <span class="items_selected__item__title">{{item}}</span>
  </li>
</ul>
